head
    link(rel='stylesheet', href='/css/header.css')
    
header.header 
    nav.nav-header 
        ul.link-list
            li.link
                a(href='./products')
                    img(src='/icons/imagen-productos.png')
                    | Productos
            li.link
                a(href='/sales')
                    img(src='/icons/imagen-ventas.png')
                    | Ventas
            li.link
                a(href='/customers')
                    img(src='/icons/imagen-clientes.png')
                    | Clientes
            li.link
                a(href='/providers')
                    img(src='/icons/imagen-proveedores.png')
                    | Proveedores
            li.link
                a(href='/reports')
                    img(src='/icons/imagen-reportes.png')
                    | Reportes
            li.link
                a(href='/out')
                    img(src='/icons/imagen-salir.png')
                    | Salir

