doctype html
html
    head
        title Reportes - Farmacia
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/header.css')
    body
        include header.pug
    script(src="js/main.js")