.table-like {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-like p {
    display: table-row;
}

.table-like p span {
    display: table-cell;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}


.table-like p:last-child span {
    border-bottom: none;
}
